<!--BlueMarket, Authors: Isabel Bryant, Analiese Ludwig, Hannah Yi-->
<!--feed-->

<!doctype html>
<html lang='en'>
{% block head %}

<head>
    <meta charset='utf-8'>
    <meta name=authors content="Isabel Bryant, Analiese Ludwig, Hannah Yi">
    <title>BlueMarket-Feed</title>
    <link rel='stylesheet' href="/static/style.css">
</head>
{% endblock %}

{% block navigation %}
<div id='navigation'>
    <ul>
        <a href="{{url_for('feed')}}">Feed</a>
        <a href="{{url_for('myStuff')}}">My Stuff</a>
        <a href="{{url_for('makePost')}}">Make a Post</a>
        <form id="search" method=GET action="/query/">
            <input id="searchterm" placeholder="Search" name="searchterm">
            <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
        </form>
        <!-- <button id="logout" type="submit" name='logout'>Logout</button> -->
    </ul>
</div>
{% endblock %}

{% block subnavigation %}
<div id='feed-navigation'>
        <ul>
            <a href="{{url_for('feedCategory', category = 'Beauty')}}">Beauty</a>
            <a href="{{url_for('feedCategory', category = 'Clothes')}}">Clothes</a>
            <a href="{{url_for('feedCategory', category = 'Entertainment')}}">Entertainment</a>
            <a href="{{url_for('feedCategory', category = 'Food')}}">Food</a>
            <a href="{{url_for('feedCategory', category = 'Home')}}">Home</a>
            <a href="{{url_for('feedCategory', category = 'Looking For')}}">Looking For</a>
            <a href="{{url_for('feedCategory', category = 'Services')}}">Services</a>
            <a href="{{url_for('feedCategory', category = 'Textbookds')}}">Textbooks</a>
            <a href="{{url_for('feedCategory', category = 'Other')}}">Other</a>
        </ul>
    </div>
{% endblock %}

{% block content %}


<!-- <div class="card">
    <img src="{{url_for('static', filename= 'pens.jpg')}}" alt="item">
    <div class="container">
        <h4>Pens</h4>
        <p>Billie $ Venmo/Cash</p>
        <p>not rented</p>
    </div>
</div>

<div class="card">
    <img src="{{url_for('static', filename= 'pens.jpg')}}" alt="item">
    <div class="container">
        <h4>Pens</h4>
        <p>Billie $ Venmo/Cash</p>
        <p>not rented</p>
    </div>
</div>

<div class="card">
    <img src="{{url_for('static', filename= 'pens.jpg')}}" alt="item">
    <div class="container">
        <h4>Pens</h4>
        <p>Billie $ Venmo/Cash</p>
        <p>not rented</p>
    </div>
</div> -->

{% for post in posts %}
<div class="card">
    <img id="feedImage" src="{{url_for('static', filename= 'pens.jpg')}}" alt="item">
    <!-- <img src="{{url_for('static', filename="{{post.image}}")}}" alt="item"> -->
    <div class="container">
        <h4>{{post.name}}</h4>
        <p>{{post.priceRange}} {{post.paymentType}}</p>
        <!-- <p>{{post.rented}}</p> -->
    </div>
</div>

{% endfor %}
{% endblock %}