<!--BlueMarket, Authors: Isabel Bryant, Analiese Ludwig, Hannah Yi-->
<!--feed-->

<!doctype html>
<html lang='en'>
{% block head %}

<head>
    <meta charset='utf-8'>
    <meta name=authors content="Isabel Bryant, Analiese Ludwig, Hannah Yi">
    <title>BlueMarket-Feed</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% block navigation %}
<div id='navigation'>
    <h1 id='bluemark-title'>Blue Market</h1>
    <ul>
        <a href="{{url_for('feed')}}">Feed</a>
        <a href="{{url_for('myStuff')}}">My Stuff</a>
        <a href="{{url_for('makePost')}}">Make a Post</a>
        <form id="search" method=GET action="{{url_for('searchItems')}}">
            <input id="searchterm" placeholder="Search" name="searchterm">
            <button id="searchbutton" type="submit" name="submit" value="Search">Search</button>
        </form>
        <div id='logout-button'><a href="{{url_for('logout')}}">Logout</a></div>
    </ul>
</div>
{% endblock %}

{% block subnavigation %}
<div id='feed-navigation'>
        <ul>
            <a href="{{url_for('feedCategory', category = 'Beauty')}}">Beauty</a>
            <a href="{{url_for('feedCategory', category = 'Clothing')}}">Clothes</a>
            <a href="{{url_for('feedCategory', category = 'Entertainment')}}">Entertainment</a>
            <a href="{{url_for('feedCategory', category = 'Food')}}">Food</a>
            <a href="{{url_for('feedCategory', category = 'Home')}}">Home</a>
            <a href="{{url_for('feedCategory', category = 'Looking-For')}}">Looking For</a>
            <a href="{{url_for('feedCategory', category = 'School-Supplies')}}">School Supplies</a>
            <a href="{{url_for('feedCategory', category = 'Services')}}">Services</a>
            <a href="{{url_for('feedCategory', category = 'Textbooks')}}">Textbooks</a>
            <a href="{{url_for('feedCategory', category = 'Other')}}">Other</a>
        </ul>
</div>
{% endblock %}
<body>
{% block content %}

{% for post in posts %}
<div class="card" id="{{post.pid}}">
    <img id="feedImage" src="{{url_for('static', filename= 'placeholder.png')}}" alt="item">
    <!-- <img src="{{url_for('static', filename="{{post.image}}")}}" alt="item"> -->
    <div class="container">
        <p><h4>{{post.name}} <br> Seller: {{post.uid}}</h4>
        Price Range: {% if post.priceRange == 'free' %}
            Free
            {% elif post.priceRange == 'low' %}
            $
            {% elif post.priceRange == 'medium' %}
            $$
            {% elif post.priceRange == 'high' %}
            $$$
            {% endif %}
        <br>Payment Type: {{post.paymentType}}
        <form action='{{url_for("readPost", pid = post.pid)}}'>
            <button type="submit" class="detailButton">Details</button>
        </form>
    </p>
    </div>
</div>
{% endfor %}
{% endblock %}
</body>