<!--BlueMarket, Authors: Isabel Bryant, Analiese Ludwig, Hannah Yi-->
<!--interestedPost-->

{% extends "myStuff.html" %}

<h1>My Interested Posts</h1>

<body>
{% block content %}

{% if items|length == 0 %}
<h3 class='noneYet'>You have not marked yourself interested in any items yet!</h3>
{% else %}
    {% for item in items %}
    <div class="card" id="{{item.iid}}">
        <img id="feedImage" src="{{url_for('uploaded_file',filename=item.photo)}}" alt="item">
        <div class="container">
            <p><b>Name: </b>{{item.name}}<br>
            <b>Price: </b>{{item.price}}<br>
            <b>Quality: </b>{{item.quality}}<br>
            <b>Rented: </b>{{item.isRented}}<br>
            <b>Description: </b>{{item.description}}<br>
            <form action='{{url_for("readPost", pid = item.pid)}}'>
                <button type="submit" class="originalPost">Original Post</button>
            </form></p>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
</body>
