<!--BlueMarket, Authors: Isabel Bryant, Analiese Ludwig, Hannah Yi-->
<!--interestedPost-->

{% extends "feed.html" %}

{% block subnavigation %}
<div id='feed-navigation'>
        <ul>
            <a href="{{url_for('myStuff')}}">My Posts</a>
            <a href="{{url_for('getBookmarked')}}">Bookmarked Posts</a>
            <a href="{{url_for('getInterestedIn')}}">My Purchases</a>
        </ul>
</div>
{% endblock %}
<h1>My Interested Posts</h1>

<body>
{% block content %}

{% for item in items %}
<div class="card" id="{{item.iid}}">
    <img id="feedImage" src="{{url_for('static', filename= 'pens.jpg')}}" alt="item">
    <!-- <img src="{{url_for('static', filename="{{post.image}}")}}" alt="item"> -->
    <div class="container">
        <p><b>Name: </b>{{item.name}} </p> 
        <p><b>Price: </b>{{item.price}} </p> 
        <p><b>Quality: </b>{{item.quality}}</p>
        <p><b>Rented: </b>{{item.isRented}}</p>
        <p><b>Description: </b>{{item.description}}</p>
        <form action='{{url_for("readPost", pid = item.pid)}}'>
            <button type="submit" class="originalPost">Original Post</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
</body>
