<!--BlueMarket, Authors: Isabel Bryant, Analiese Ludwig, Hannah Yi-->
<!--log in page-->

<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=authors content="Isabel Bryant, Analiese Ludwig, Hannah Yi">
    <title>BlueMarket-Login</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>
<body id="login-body">
    <div id='login-card'>
        <h1>Welcome to <mark class="navy">Blue</mark>Market!</h1>
        <p>A resale site for Wellesley students</p>
        <p>Please sign in using your Wellesley Email:</p>
        <form method="GET" action="/login/"><button>login</button></form>
    </div>
</body>